*~
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.turbo
package-lock.json
# CocoIndex Code (ccc)
/.cocoindex_code/
